.slider-container {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slide {
  width: 500px;
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  display: flex;
  place-content: center;
  place-items: center;
}

.slide img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: contain;
}

.thumbnails {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  overflow: hidden;
}

.thumbnails img {
  width: 120px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  object-fit: contain;
  transition: 0.3s ease;
}

.thumbnails img:hover {
  transform: scale(1.1);
}

@media screen and (width <= 600px) {
  .slider-container {
    max-width: 100%;
    height: 100%;
    margin: 0;
  }

  .slide {
    width: 100%;
  }

  .slide img {
    width: 100%;
    height: auto;
  }
  .thumbnails {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .thumbnails img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (width >= 768px) {
  .slider-container {
    max-width: 800px;
    height: 100%;
    margin: 0;
  }

  .slide {
    width: 100%;
  }

  .slider {
    width: 500px;
    margin: 0 auto;
  }

  .slide img {
    width: 100%;
    height: 400px;
  }
  .thumbnails {
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
    gap: 10px;
  }
  .thumbnails img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (width >= 992px) {
  .slider-container {
    max-width: 800px;
    height: 100%;
    margin: 0;
  }

  .slide {
    width: 100%;
  }

  .slider {
    width: 500px;
    margin: 0 auto;
  }

  .slide img {
    width: 100%;
    height: 400px;
  }
  .thumbnails {
    height: auto;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 2rem;
    gap: 10px;
  }
  .thumbnails img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (width >= 1200px) {
  /* … */
}
