/*Events*/

.events {
  background-color: #fff;
}

.eventsTop {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10rem;
}

.farmacias {
  display: grid;
  place-items: center;
  height: 100%;
}
.farmacias .farmacias-logo {
  width: 100%;
  gap: 2rem;
  padding: 2rem 0rem 2rem 0rem;
  background-color: #4f8b33;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "farmaciaImg farmaciasTitle farmaciasTitle";
}

.farmacias .farmacias-logo .farmacias-image {
  display: flex;
  place-content: center;
  place-items: center;
  height: 200px;
  padding-left: 2rem;
  grid-area: farmaciaImg;
}
.farmacias .farmacias-logo .farmacias-image .image {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.farmacias .farmacias-logo .farmacias-image .image img {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  object-fit: contain;
}
.farmacias .farmacias-logo .farmacias-title {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-area: farmaciasTitle;
}
.farmacias .farmacias-logo .farmacias-title h1 {
  color: #fff;
  font-weight: 650;
}
.farmacias .farmacias-logo .farmacias-title .block-gray {
  width: 100%;
  height: 65px;
  background-color: #d9d9d9;
}

/* .droguerias {
  display: grid;
  place-items: center;
  height: 100%;
} */
/* .droguerias-logo {
  width: 100%;
  gap: 2rem;
  padding: 2rem 0rem 2rem 0rem;
  background-color: #4f8b33;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "drogueriasTitle drogueriasTitle drogueriasImg";
}
.droguerias .droguerias-logo .droguerias-image {
  display: flex;
  place-content: center;
  place-items: center;
  height: 200px;
  padding-right: 2rem;
  grid-area: drogueriasImg;
}
.droguerias .droguerias-logo .droguerias-image .image {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.droguerias .droguerias-logo .droguerias-image .image img {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  object-fit: contain;
}
.droguerias .droguerias-logo .droguerias-title {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-area: drogueriasTitle;
}
.droguerias .droguerias-logo .droguerias-title h1 {
  color: #fff;
  font-weight: 650;
  text-align: end;
}
.droguerias .droguerias-logo .droguerias-title .block-gray {
  width: 100%;
  height: 65px;
  background-color: #d9d9d9;
} */

.container-block {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.eventsBottom {
  display: grid;
  place-items: center;
  height: 100%;
  margin-top: 5rem;
}
.eventsBottom h1 {
  padding: 10px;
  margin: 0px;
  border-bottom: 3px solid #4f8b33;
  font-weight: 650;
}
/* Medias Query */
@media screen and (width <= 600px) {
  .eventsTop {
    gap: 5rem;
  }
  .farmacias-logo {
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "farmaciaImg farmaciaImg farmaciaImg" "farmaciasTitle farmaciasTitle farmaciasTitle" !important;
  }
  .farmacias .farmacias-logo .farmacias-image {
    height: 100%;
    padding: 0px;
  }
  .farmacias .farmacias-logo .farmacias-image .image img {
    width: 300px;
    height: 250px;
  }

  .farmacias .farmacias-logo .farmacias-title {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
  }
  .farmacias .farmacias-logo .farmacias-title h1 {
    padding-left: 2rem;
  }
}
@media screen and (width >= 768px) {
  .eventsTop {
    gap: 5rem;
  }
  .farmacias .farmacias-logo .farmacias-image {
    /* height: 100%; */
    padding-left: 2rem;
  }
  .farmacias .farmacias-logo .farmacias-image .image img {
    width: 300px;
    height: 280px;
  }

  .farmacias .farmacias-logo .farmacias-title {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
  }

  /* .droguerias .droguerias-logo .droguerias-title {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
  }
  .droguerias .droguerias-logo .droguerias-image {
    padding-right: 2rem;
  }
  .droguerias .droguerias-logo .droguerias-image .image img {
    width: 300px;
    height: 280px;
  } */
  .container-block {
    gap: 1rem;
  }
  .container-block .block-gray {
    height: 50px !important;
  }
}
@media screen and (width >= 992px) {
  /* … */
}
@media screen and (width <= 1200px) {
  /* … */
}
