/* Footer */

.footer {
  background-color: #fff;
  margin-top: 5rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.39);
}

.footer .container {
  display: grid;
  grid-template-areas: "image image contentEnlaces contentEnlaces"
"copyright copyright copyright copyright" ;
  padding-top: 3rem;
}

.footer .image {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 15px;
  grid-area: image;
}
.footer .image img {
  width: 200px;
}

.footer [data-top="top"] {
  display: flex;
  place-content: center;
}
.footer [data-top="top"] i {
  width: 30px;
  height: 30px;
  display: flex;
  place-items: center;
  place-content: center;
  margin: 0.5rem;
  background-color: #4f8b33;
  border-radius: 50%;
}

.footer [data-bottom="bottom"] {
  display: flex;
  place-content: end;
  margin-bottom: 1rem;
}
.footer [data-bottom="bottom"] i {
  width: 30px;
  height: 30px;
  display: flex;
  place-items: center;
  place-content: center;
  background-color: #4f8b33;
  margin-left: 0.5rem;
  border-radius: 50%;
}

.footer .content-enlaces-redes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "enlaces enlaces enlaces condiciones condiciones condiciones";
  grid-area: contentEnlaces;
}
.footer .enlaces {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: start;
  grid-area: enlaces;
}
.footer .enlaces label {
  padding: 5px;
}
.footer .enlaces label:hover {
  color: #fff;
  background-color: #4f8b33;
  cursor: pointer;
}
.footer .redes-condiciones {
  display: grid;
  place-content: start;
  grid-area: condiciones;
}
.footer .redes a:hover {
  opacity: 0.8;
}
.footer .terminospolitica {
  text-align: end;
  display: flex;
  flex-direction: column;
}
.footer .terminospolitica a {
  color: rgba(0, 0, 0, 0.644);
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: 500;
}
.footer .terminospolitica a:hover {
  color: #4f8b33;
}
.footer .copyright {
  display: flex;
  place-content: center;
  align-items: center;
  margin: 3rem 0px 1rem 0px;
  grid-area: copyright;
}

/* Medias Query */
@media screen and (width <= 600px) {
  .footer .container {
    grid-auto-rows: auto;
    grid-template-areas: "image contentEnlaces contentEnlaces" "copyright copyright copyright";
  }
  .footer .content-enlaces-redes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "enlaces" "condiciones";
    gap: 10px;
    padding-right: 2rem;
  }

  .footer .image {
    place-content: start;
  }

  .footer .redes-condiciones {
    place-content: end;
  }

  .footer .content-enlaces-redes .enlaces {
    place-items: end;
  }

  .footer .terminospolitica a {
    width: 100%;
    font-size: 1rem !important;
  }
  .footer [data-top="top"] {
    display: flex;
  }
  .footer [data-bottom="bottom"] {
    display: none;
  }

  .copyright {
    margin: 1rem !important;
  }
  .copyright p {
    text-align: center;
    font-size: 0.76rem;
  }
}
@media screen and (width >= 768px) {
  .footer [data-top="top"] {
    display: none;
  }
  .footer [data-bottom="bottom"] {
    display: flex;
  }
}
@media screen and (width >= 992px) {
}
@media screen and (width <= 1200px) {
  /* … */
}
