/* HEADER */
.header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.headerTop {
  padding: 0px;
}
.headerTop img {
  width: 100%;
}

.headerBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.headerBottom .headerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBottom .headerLeft .headerPosition {
  position: absolute;
  margin-top: -100px;
}

.headerBottom .headerLeft .card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 15px;
}
.headerBottom .headerLeft .card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.headerBottom .headerRight {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  gap: 10px;
}
.headerBottom .headerRight .mision-vision {
  width: 100%;
}

.headerBottom .headerRight .mision-vision h1 {
  font-weight: bold;
  /* padding-bottom: 0.5rem; */
}

.headerBottom .headerRight .mision-vision hr {
  width: 50%;
  border-top: 2px solid #4f8b33;
  opacity: 1;
}

.headerBottom .headerRight .mision-vision p {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  font-family: "Monserrat, sans-serif";
  padding: 1rem 0px 0px 0px;
}
/* Medias Query */
@media screen and (width <= 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .headerBottom .headerLeft .headerPosition {
    top: 210px;
    right: 30px;
    margin: 0px;
  }

  .headerBottom .headerLeft .card {
    width: 260px;
    height: 180px;
  }

  .headerBottom .headerRight .mision-vision hr {
    width: 70%;
  }
  .headerBottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .headerBottom .headerRight {
    width: 100%;
    height: 110vh;
    /* position: relative;
    top: 60px;
    bottom: 0;
    left: 30px;
    padding: 0px; */
    padding: 0rem 0rem 0rem 3rem;
    gap: 10px;
    margin: 0px;
    margin-bottom: 0px;
  }
  .headerBottom .headerRight .mision-vision {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .headerBottom .headerRight .mision-vision p {
    width: 100%;
    text-align: justify;
    padding: 0rem 4rem 0px 0px;
  }
}
@media screen and (width >= 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .headerBottom .headerLeft .headerPosition {
    top: 480px;
  }

  .headerBottom .headerLeft .card {
    width: 360px;
    height: 100%;
  }

  .headerBottom .headerRight .mision-vision hr {
    width: 70%;
  }
  .headerBottom {
    gap: 20px;
  }

  .headerBottom .headerRight {
    margin-top: 2rem;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    place-items: center;
  }

  .headerBottom .headerRight .mision-vision p {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 35px 0px 0px;
    text-align: justify;
  }
}
@media screen and (width >= 992px) {
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .headerBottom .headerLeft .headerPosition {
    margin-top: 0px;
    top: auto;
  }

  .headerBottom .headerLeft .card {
    width: 100%;
    height: 100%;
  }

  .headerBottom .headerRight .mision-vision hr {
    width: 50%;
  }
  .headerBottom {
    gap: 0px;
  }

  .headerBottom .headerRight {
    margin-top: 2rem;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    place-items: center;
  }

  .headerBottom .headerRight .mision-vision p {
    width: 100%;
    padding: 0px 15rem 0px 0px;
  }
}
