html {
  scroll-behavior: smooth;
}

/* Medias Query */
@media (min-width: 768px) and (max-width: 979px) {
  /* .droguerias {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "Insuaminca DrovenCentro VitalClinic" "GrupoCobeca Drolanca DrogueriaNena" "Drocerca  Drol  Monaco";
  } */
}

/* @media (max-width: 720px) {

  .contacto {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }

  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "image contentEnlaces"
      "copyright copyright";
    padding-top: 3rem;
  }
  .footer .image {
    justify-items: center;
    align-items: baseline;
  }
  .footer .image img {
    width: 130px;
  }
  .footer .content-enlaces-redes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "enlaces" "condiciones";
    justify-items: end;
    padding: 0px 30px 0px 0px;
  }
  .footer .enlaces {
    text-align: end;
  }
  .footer .redes-condiciones {
    margin-top: 10px;
    text-align: end;
  }
  .footer .copyright {
    font-size: 12px;
    margin: 3rem 0px 1rem 0px;
  }
} */
